<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="../js/settings-password.js"></script>
    <script src="../js/regisrtarion.js"></script>

</head>

<body>
    <%- include('../blocks/header') -%>
    <main>
        <h1>Изменение пароля</h1>
    </main>
    <div class="container">
        <div id="error-messages" class="error-container">
            <% if (messages && messages.length> 0) { %>
            <ul>
                <% messages.forEach(function(message) { %>
                <li>
                    <%= message %>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </div>
        <div class="regisrtarion">
            <form action="/settings/password" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <label for="currentPassword">Текущий пароль</label>
                <input type="password" id="currentPassword" name="currentPassword" autocomplete="current-password">
                <label for="newPassword">Новый пароль</label>
                <input type="password" id="newPassword" name="newPassword" autocomplete="new-password">
                <label for="confirmPassword">Подтверждение пароля</label>
                <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="confirm-new-password">
                <button type="submit">Изменить пароль</button>
            </form>
        </div>
        <div class="toggle-theme">
            <button id="toggleThemeButton">Переключить тему</button>
        </div>
    </div>
    <footer>
        <p>Все права защищены &copy; 2024</p>
    </footer>
</body>

</html>
