<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>AlgoMaster</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('blocks/header') -%>
        <main>
            <h1>Создание задачи</h1>
            <div class="createTask">
                <form action="/createTask/?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <label for="title">Название задачи</label>
                    <input type="text" id="title" name="title" required>
                    <label for="description">Описание задачи:</label>
                    <input type="text" id="description" name="description" required>
                    <label for="difficulty">Уровень сложности:</label>
                    <select id="difficulty" name="difficulty" required>
                        <option value="none">-</option>
                        <option value="easy">Легкая</option>
                        <option value="medium">Средняя</option>
                        <option value="hard">Сложная</option>
                    </select>

                    <label for="tags">Теги (разделить запятой):</label>
                    <input type="text" id="tags" name="tags" required>

                    <label for="files">Прикрепить файлы:</label>
                    <input type="file" id="files" name="files" multiple>

                    <label for="links">Ссылки (введите в формате "url|title"):</label>
                    <input type="text" id="links" name="links">

                    <button type="submit">Создать задачу</button>
                </form>
            </div>
        </main>
        <footer>
            <p>Все права защищены &copy; 2024</p>
          </footer>
</body>

</html>