<header>
    <span>AlgoMaster<em>&</em>Express</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Про нас</a>
        <a href="/registration">Авторизация</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Имя пользователя">
        <button type="submit">Поиск</button>
    </form>
</header>
